In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
s = pd.Series([1,3,5,np.nan,6,8])
len(s)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [87]:
import sys
sys.getsizeof(s)

152

In [88]:
s[0]
s[5]
s[0::2]
s[0] = 3.3
s[0]

3.3

In [89]:
data = np.array(['a','b','c','d'])
data
s = pd.Series(data,index=[100,101,102,103])

In [90]:
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [91]:
s[100]

'a'

In [92]:
i = {k: v for k, v in [(1, 2), (3, 4)]}

In [93]:
i = [[i,i**2,i**3] for i in [1,2,3]]
i

[[1, 1, 1], [2, 4, 8], [3, 9, 27]]

In [94]:
d1 = {k: v for k, v in (('I', 1), ('II', 2))}

In [95]:
S1 = pd.Series(d1)
len(S1)
S1

I     1
II    2
dtype: int64

In [96]:
S1.values

array([1, 2])

In [97]:
S1[-1]

2

In [98]:
S1[-1:]

II    2
dtype: int64

In [99]:
S1[-2:]

I     1
II    2
dtype: int64

In [100]:
S1

I     1
II    2
dtype: int64

In [101]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [102]:
data1 = [[1],[2],[3],[4],[5]]
df1 = pd.DataFrame(data1)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [103]:
df1.keys

<bound method NDFrame.keys of    0
0  1
1  2
2  3
3  4
4  5>

In [105]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [108]:
df['Age']

0    10.0
1    12.0
2    13.0
Name: Age, dtype: float64

In [111]:
data = [['Alex',10,1.1],['Bob',12,2.2],['Clarke',13,3.3]]
df = pd.DataFrame(data,columns=[i for i in "abc"],dtype=float)
print(df)

        a     b    c
0    Alex  10.0  1.1
1     Bob  12.0  2.2
2  Clarke  13.0  3.3

In [115]:
df.shape

(3, 3)