In [4]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
# Series are ordered
x = pd.Series([1,2,3,4,5])

In [7]:
x[0::2]

0    1
2    3
4    5
dtype: int64

In [8]:
x[0:2]

0    1
1    2
dtype: int64

In [9]:
x[1]==x[2]

False

In [10]:
x[0:2]

0    1
1    2
dtype: int64

In [11]:
dates = pd.date_range('20130101', periods=6)
len(dates)

6

In [12]:
dates[0:3]

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03'], dtype='datetime64[ns]', freq='D')

In [13]:
len(dates)
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [14]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.221922  0.880115 -1.656850 -1.925014
2013-01-02 -1.084126  0.728913  0.090476  0.278599
2013-01-03  0.768429  1.680840 -0.146504  1.105998
2013-01-04 -0.254045  0.298600  0.701143 -0.010979
2013-01-05 -0.033056 -0.493038  0.895599  0.353732
2013-01-06 -1.191514  1.197365  0.452687  1.470324

In [17]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0